*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  overflow-x:hidden;
  background: #f8f8f8;
}

.container{
  width:100%;
  max-width:1280px;
  margin:auto;
  padding:0 16px;
}